<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <title>Servers in the JAR</title>
  </head>
  <body>
    <h2>Servers in the JAR</h2>
    <pre>
      Servers in the JAR exchanging glances
      Wond'ring in the JAR what were the chances
      We'd be sharing love before the JAR was through

      Ever since that JAR we've been together
      Lovers at first sight, in love forever
      It turned out so right for servers in the JAR
   </pre>
  </body>
</html>
